![NYC Skyline](nyc.jpg)

Welcome to New York City, one of the most-visited cities in the world. There are many Airbnb listings in New York City to meet the high demand for temporary lodging for travelers, which can be anywhere between a few nights to many months. In this project, we will take a closer look at the New York Airbnb market by combining data from multiple file types like `.csv`, `.tsv`, and `.xlsx`.

Recall that **CSV**, **TSV**, and **Excel** files are three common formats for storing data. 
Three files containing data on 2019 Airbnb listings are available to you:

**data/airbnb_price.csv**
This is a CSV file containing data on Airbnb listing prices and locations.
- **`listing_id`**: unique identifier of listing
- **`price`**: nightly listing price in USD
- **`nbhood_full`**: name of borough and neighborhood where listing is located

**data/airbnb_room_type.xlsx**
This is an Excel file containing data on Airbnb listing descriptions and room types.
- **`listing_id`**: unique identifier of listing
- **`description`**: listing description
- **`room_type`**: Airbnb has three types of rooms: shared rooms, private rooms, and entire homes/apartments

**data/airbnb_last_review.tsv**
This is a TSV file containing data on Airbnb host names and review dates.
- **`listing_id`**: unique identifier of listing
- **`host_name`**: name of listing host
- **`last_review`**: date when the listing was last reviewed

In [111]:
# Import necessary packages
import pandas as pd
import numpy as np

# Begin coding here ...
airbnb_price = pd.read_csv('data/airbnb_price.csv')
airbnb_price.head()

   listing_id        price                nbhood_full
0        2595  225 dollars         Manhattan, Midtown
1        3831   89 dollars     Brooklyn, Clinton Hill
2        5099  200 dollars     Manhattan, Murray Hill
3        5178   79 dollars  Manhattan, Hell's Kitchen
4        5238  150 dollars       Manhattan, Chinatown

In [112]:
airbnb_room_type = pd.read_excel('data/airbnb_room_type.xlsx')
airbnb_room_type.head()

   listing_id                                description        room_type
0        2595                      Skylit Midtown Castle  Entire home/apt
1        3831            Cozy Entire Floor of Brownstone  Entire home/apt
2        5099  Large Cozy 1 BR Apartment In Midtown East  Entire home/apt
3        5178            Large Furnished Room Near B'way     private room
4        5238         Cute & Cozy Lower East Side 1 bdrm  Entire home/apt

In [113]:
airbnb_last_review = pd.read_csv('data/airbnb_last_review.tsv',sep='\t')
airbnb_last_review.head()

   listing_id    host_name   last_review
0        2595     Jennifer   May 21 2019
1        3831  LisaRoxanne  July 05 2019
2        5099        Chris  June 22 2019
3        5178     Shunichi  June 24 2019
4        5238          Ben  June 09 2019

In [114]:
merged_df = pd.merge(airbnb_price, airbnb_room_type, on='listing_id', how='inner')
merged_df = pd.merge(merged_df, airbnb_last_review, on='listing_id', how='inner')

In [115]:
merged_df['last_review']=pd.to_datetime(merged_df['last_review'])
first_reviewed = merged_df['last_review'].min()
last_reviewed = merged_df['last_review'].max()
first_reviewed,last_reviewed

(Timestamp('2019-01-01 00:00:00'), Timestamp('2019-07-09 00:00:00'))

In [116]:
merged_df['room_type'].unique()

array(['Entire home/apt', 'private room', 'Private room',
       'entire home/apt', 'PRIVATE ROOM', 'shared room',
       'ENTIRE HOME/APT', 'Shared room', 'SHARED ROOM'], dtype=object)

In [117]:
merged_df['room_type'] = merged_df['room_type'].str.lower()
# Group by 'room_type' and count occurrences
num_private_rooms = merged_df['room_type'].value_counts()

# Check the room types to ensure 'Private room' exists
print(num_private_rooms)

# Access the count of private rooms
nb_private_rooms = num_private_rooms.get('private room', 0)  # Use get to avoid key errors if 'Private room' is missing
nb_private_rooms = int(nb_private_rooms)
# Print the result
print(nb_private_rooms)

entire home/apt    13266
private room       11356
shared room          587
Name: room_type, dtype: int64
11356

In [118]:
# Remove the 'dollars' text and any extra spaces
merged_df['price'] = merged_df['price'].str.replace('dollars', '').str.strip()

# Convert the cleaned 'price' column to integers
merged_df['price'] = merged_df['price'].astype('int')

# Calculate the average price
avg_price = merged_df['price'].mean()

# Round the average price to 2 decimal places
avg_price = round(avg_price, 2)

# Print the average price
print(avg_price)

141.78

In [119]:
review_dates_dict = {
    "first_reviewed": [first_reviewed],
    "last_reviewed": [last_reviewed],
    "nb_private_rooms": [nb_private_rooms],
    "avg_price": [avg_price]
}

# Create a DataFrame with one row
review_dates = pd.DataFrame(review_dates_dict)

# Print the resulting DataFrame
print(review_dates)

  first_reviewed last_reviewed  nb_private_rooms  avg_price
0     2019-01-01    2019-07-09             11356     141.78